.add {
    margin-right: 10px !important;
    margin-top: -30px;
}

.col1 {
    width: 8%;
    margin-left: -20px;
    padding: 5px;
}

.col2 {
    width: 35%;
    padding: 5px;
}

.col3 {
    width: 35%;
    padding: 5px;
    margin-left: -20px;
}

.col4 {
    padding: 5px;
}

button {
    margin-right: 2px;
    background-color: rgb(87, 137, 245);
    border: 1px solid rgb(87, 137, 245);
    color: #ffff;
}

.add-button {
    background: rgb(46, 117, 182);
    padding: 8px 10px;
    border: solid 2px rgb(100, 145, 184);
    width: 13%;
    display: block;
    color: white;
    border-radius: 6px;
    margin: 40px auto 0 auto;
}